<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAv3Hv_kNGRMgFXVz6Vr8n7doVmoQ4eMi4",
        authDomain: "spring-webpush.firebaseapp.com",
        databaseURL: "https://spring-webpush.firebaseio.com",
        projectId: "spring-webpush",
        storageBucket: "spring-webpush.appspot.com",
        messagingSenderId: "338513538509",
        appId: "1:338513538509:web:451fe8eaea70703ea06884",
        measurementId: "G-DX6YVE4HDY"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>